<div class="header">
    <button id="btn-menu" class="btn-wrapper"><i class="fas fa-bars"></i></button>
    <a href="index.html" id="title-header" class="">
        <h1>Proyecto Final</h1>
    </a>
    <input type="text" name="search" class="input-text hide-input" placeholder="Buscar cursos">
    <button id="btn-search" class="btn-wrapper"><i class="fas fa-search"></i></button>
    <div class="menu-mobile hide">
        <div class="menu">
            <button class="btn-primary"><a routerLink="course.html" class="courses">Cursos</a></button>
            <button class="btn-secondary"><a routerLink="login.html">Ingresar</a></button>
            <button class="btn-secondary">Registrarse</button>
        </div>
        <button class="btn-close-menu"></button>
    </div>
</div>