.login-container {
    position: relative;
    width   : 95%;
    margin  : 0 auto;

}

.login-box {
    background-color: #1e6f9b;
    padding         : 3%;
    position        : absolute;
    width           : 100%;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, 50%);
}

@media(min-width:992px) {
    .login-box {
        width: 60%;
        padding: 3%;
    }

}