<div class="register-form">
    <h2>Ingrese todos su datos para registrarse</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <input #fullName type="text" class="input" placeholder="Nombre Completo" formControlName="fullName"/>
        </div>
        <div class="input-container">
            <input #lastName type="text" class="input" placeholder="Apellidos" formControlName="lastName"/>
        </div>
        <div class="input-container">
            <input #username type="text" class="input" placeholder="E-mail" formControlName="email"/>
        </div>
        <div class="input-container">
            <input #pass type="password" class="input" placeholder="Contraseña" formControlName="pass"/>
        </div>
        <div class="input-container">
            <input #pass type="password" class="input" placeholder="Confirmar contraseña" formControlName="pass2"/>
        </div>
        <label for="isAdmin">
            Administrador:
            <input #isAdmin type="checkbox" name="isAdmin" formControlName="isAdmin"/>
        </label>
        <button class="btn-secondary" type="submit" [disabled]="!profileForm.valid">Registrarse</button>
    </form>
    
</div>