<div class="register-form">
    <h2>Ingrese todos su datos para registrarse</h2>
    <div class="input-container">
        <input #fullName type="text" class="input" placeholder="Nombre Completo"/>
    </div>
    <div class="input-container">
        <input #lastName type="text" class="input" placeholder="Apellidos"/>
    </div>
    <div class="input-container">
        <input #username type="text" class="input" placeholder="E-mail"/>
    </div>
    <div class="input-container">
        <input #pass type="password" class="input" placeholder="Contraseña"/>
    </div>
    <label for="isAdmin">
        Administrador:
        <input #isAdmin type="radio" name="isAdmin"/>
    </label>
    <button class="btn-secondary">Registrarse</button>
</div>